name: CD

on:
  push:
    branches:
      - main
    tags:
      - '*.*.*'

jobs:
  linux:
    runs-on: ubuntu-latest
    env:
      CHILD_CONCURRENCY: "1"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: yarn --frozen-lockfile
    - name: Create Package
      run: gulp package
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v0.1.5
      with:
        files: ./sqlops-debug*.vsix